.loginContainer {
  height: calc(100vh - 90px); // 使容器占满整个视口高度
  background: url("/images/login/login-bg.jpg");
  background-size: cover; // 确保背景图片覆盖整个容器
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.loginForm {
  width: 300px;
  padding: 24px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  h2 {
    text-align: center;
    margin-bottom: 24px;
  }
} 