.left, .right {
  height: 100%;
}
.padding {
  background: var(--padding-right-color); 
  width: 10px;
  position: absolute;
  top: -200px;
  height: 2000px;
}
.left {
  width: 45%;
}
.right {
  width: 50%;
}
.container {
  display: flex;
  margin-top: 150px;
  // header 高度 + padding高度 一共为 90 + 150
  height: calc(100% - 150px - 90px);
  overflow: hidden;
}

// 右侧区域
.left {
  // 标题
  .title {
    font-family: eksell_rm_large, sans-serif;
    font-size: 9.375vw;
    line-height: 1em;
    margin-bottom: 0.91vw;
    color: var(--title-color);
    text-wrap: nowrap;
  }
  // 内容
  .content {
    width: 70%;
    font-family: silka_rm, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6em;
    pointer-events: auto;
    display: block;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--font-color);
  }
}
