
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

a:-webkit-any-link {
  color: var(--font-color);
  text-decoration: unset;
}

:root {
  --body-bg-color: black;

  --main-bg-color: rgb(61, 102, 129);
  --title-color: rgb(213, 222, 221);
  --font-color: white;
  --padding-right-color: rgb(213, 222, 221)
}

#__next {
  height: 100%;
  >div {
    height: 100%;
  }
}

html {
  background-color:  var(--main-bg-color)
}


.font-color {
  color: var(--font-color);
}

html {
  scrollbar-width: thin;
  scrollbar-color: #eaeaea transparent;
}
  .ant-menu-submenu-open {
    max-height: calc(100vh - 90px - 100px);
    overflow: hidden;
    overflow-y: scroll;
  }
