.container {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0 20px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
  height: calc(100% - 40px);
  position: relative;
  width: 80%;
}
.title {
  margin: 0 0 1.3rem;
  font-size: 2.667rem;
  font-weight: 600;
  line-height: 1.31;
  color:  #252933;;
}

.fixed {
  height: calc(100% - 40px);
  position: relative;
  width: 20%;
  margin: 20px 20px 0 0px;
  background: white;
  border-radius: 20px;
  color: #252933;
  min-height: calc(100% - 40px);
  overflow-y: scroll;
}

.d1 {
  font-weight: 400;

}
.d2 {

}
.d3{ 

}