.header {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  height: 90px;
  font-size: 14px;
}
.font-style {
  font-family: silka_rm, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  pointer-events: auto;
  cursor: pointer;
  color: var(--font-color);
  padding: 10px;
}


